{% extends "base.html" %}
{% load static %}
{% block content %}
	<div class="container">

		<div class="profile">

			<div class="profile-image">

				<img src="{{profile.profile_picture.url}}" alt="">

			</div>

			<div class="profile-user-settings">

				<h1 class="profile-user-name">{{profile.user.username}}</h1>

				<button class="btn profile-edit-btn">Edit Profile</button>

				<button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>

			</div>

			<div class="profile-stats">

				<ul>
					<li><span class="profile-stat-count">{{posts.count}}</span> posts</li>
					<li><span class="profile-stat-count">{{profile.followers.count}}</span> followers</li>
					<li><span class="profile-stat-count">{{profile.followings.count}}</span> following</li>
				</ul>

			</div>

			<div class="profile-bio">

				<p><span class="profile-real-name">{{profile.user.first_name}} {{profile.user.last_name}}</span> <br>
				Bougtob 💫 Algeria 🇩🇿 <br>
				Esi student 💻<br>
				Web développer 🌐</p>

			</div>

		</div>
		<!-- End of profile section -->

	</div>
	<!-- End of container -->


<main>

	<div class="container">
		<div class="gallery" >
  {% for post in posts %}
    			<div class="gallery-item" tabindex="0">

				<img src="{{post.image.url}}" class="gallery-image" alt="">

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> {{post.likes.count}}</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 0</li>
					</ul>

				</div>

			</div>
  {% endfor %}

		</div>
	</div>
	<!-- End of container -->

</main>

{% endblock content %}